.xyz{

    margin-top: 5000px;
    margin-left: 200px;
    align-items: center;
}


.fruits{

    text-align: center;
    color: royalblue;
    text-decoration-style: solid;
    -webkit-text-fill-color: blue;
    

}